<!DOCTYPE html>
<html lang="en">
<head>
    <title> HAM-SPAM finder</title>
      <link rel="stylesheet" href="../static/css/css/all.css"/>
<link rel="stylesheet" href="../static/css/style.css"/>
</head>
<body>
    <div class="main", style="background-image: linear-gradient(rgba(0,0,0,0.4),
                rgba(0,0,0,0.4)),url('../static/img/background.jpg');
                height:100%;
                width:100%;
                background-position: center;
                background-size: cover;
                position: absolute;">
        <div class="social-menu">
        <ul>
            <li><a href="https://github.com/NamitChawla/SPAMHAMCLASSIFIER" target = "_blank"><i class="fab fa-github"></i></a></li>
        </ul>
    </div>
        <div class="form_box">
            <div class="button_box">
                <p align="center"><b> Ham or Spam? </b></p>
            </div>
            <form id="prediction_form" class="input_data" action="/predict" method="post">
                <input type="text" class="message" name="msg" id="msg" placeholder="Enter a message" required>
                <input type="submit" class="prediction_button" value="Find out">
            </form>
            <form action="/uploadfile" method="POST">
							<input type="submit" class="btn1" value="UPLOAD CSV FILE">
            </form>


        </div>
        <form action="/retrainmodel" method="POST">
							<input type="submit" class="btn2" value="Retrain Model">
        </form>
        <div class="footer">
            <h3>Developed by Namit Chawla and Vijay
            </h3>
        </div>
    </div>
    </div>
</body>
</html>