<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
</head>
<body>
<div class="main", style="background-image: linear-gradient(rgba(0,0,0,0.4),
                rgba(0,0,0,0.4)),url('../static/img/background.jpg');
                height:100%;
                width:100%;
                background-position: center;
                background-size: cover;
                position: absolute;">
    <div class="footer">
        <h2>Success</h2>
    </div>
</div>
</body>
</html>